/* bacground */
.custom-nav {
  background: rgba(10, 10, 10, 0.95);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  height: 80px;
}

/* logo box  */
.logo-box {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  overflow: hidden;
}

.brand-name {
  font-weight: 700;
  font-size: 1.25rem;
  background: linear-gradient(to right, #ffffff, #d4d4d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brand-sub {
  font-size: 11px;
  color: #fb923c;
}


.nav-pills-container {
  background: #161616;
  border-radius: 50px;
  padding: 5px;
  border: 1px solid #262626;
}

.custom-nav .nav-link {
  color: #a3a3a3;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 50px;
  padding: 10px  20px  10px  20px ;
}

.custom-nav .nav-link:hover {
  color: white;
}

.active-pill {
  background: linear-gradient(to right, #f97316, #ea580c) !important;
  color: white !important;
}


.btn-search {
  background: #161616;
 color: #737373;
   padding: 12px;
  border-radius: 12px;
  border: #161616;

}

.btn-search:hover {
  color: #ea580c;
  border: 1px solid #262626;
}

.btn-orange {
  background: linear-gradient(to right, #f97316, #ea580c);
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 12px;
  font-weight: 600;
}

.btn-orange:hover { background-color: #e66000; 
  color: white; 
  transform: translateY(-2px); 
   transition: all 0.3s;  }

