/* card*/
.postcard-card {
    background-color: #161616 !important;
    border: 1px solid #262626 !important;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.postcard-card:hover {
    transform: translateY(-8px);
    border-color: #f97316 !important; 
}

/* img*/
.image-container {
    height: 200px;
    position: relative;
    overflow: hidden;
}

.post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.postcard-card:hover .post-img {
    transform: scale(1.1);
}

.category-badge {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 4px 12px;
    border-radius: 50px;
    font-size: 11px;
    border: 1px solid rgba(255,255,255,0.1);
}

/* text& title*/
.post-title {
    transition: color 0.3s ease;
}

.postcard-card:hover .post-title {
    color: #f97316 !important;
}

.post-excerpt {
    font-size: 14px;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* arrow &author*/
.author-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.extra-small { font-size: 10px; }

.arrow-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(249, 115, 22, 0.1);
    color: #f97316;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.postcard-card:hover .arrow-icon {
    background: #f97316;
    color: white;
}